include README
include INSTALL
include COPYING
include data/AdamUsageMeterApplet.server.in
include data/menu.xml
include data/EXAMPLE.xml
include data/adam-applet.glade
recursive-include pixmaps *.png
